header h1  {
    text-align: center;
    color:rgb(228, 179, 0);
    font-weight: 200;
    font-size: 750%;

    padding-top: 25px;
    padding-bottom: 10px;
    border: 10px;
   
}

body {
    background-image: linear-gradient(to top, #F59008, #3CB0E7, #0574A9, #002FA2);
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

#maincontainer{
    text-align: center;
    height: 50vh;
    border: 5px;
    border-style: solid;
    border-color: rgb(228, 179, 0);
    border-radius: 25px;
    margin: 75px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: white;
}

#headerbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 2%;
    margin-bottom: 10px;
}

#scorebox{
   border: black;
   border-style: dashed;
   border-width: 2px;

   height: 50px;
   width: 150px;
   margin: 0%;

   font-size: 1em;
}


#questionbox {    
    border: black;
    border-style: dashed;
    border-width: 2px;
    padding: 3px;
    max-width: 1000px;
    max-height: 65px;
    font-size: 1.65em;
}

#timerbox {
    border: black;
    border-style: dashed;
    border-width: 2px;
    height: 50px;
    width: 150px;
    margin: 0%;
    font-size: 1em;
}

.quizcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: black;
    border-style: dotted;
    min-height: 475px;
    
    margin: 5%;
    margin-top: 0%;
    padding: 2%;
}


#startbtn {
    min-width: 600px;
    min-height: 120px;
    border: 1px solid;
    border-radius: 40%;
    border-width: 3px;
    color: white;
    background-color: #011341;
    border-color: black;
    font-weight: 700;
    font-size: xx-large;
    letter-spacing: 2px;
    box-shadow: 10px 10px 5px 0px #000000a6;
}

#startbtn:hover {
    background-color: #1c3881;
    color: #F59008;
    cursor: pointer;
    box-shadow: 10px 10px 5px 0px #00000000;
}


.questionbtn {
    display: none;
    min-width: 600px;
    min-height: 120px;
    border: 1px solid;
    border-radius: 40%;
    border-width: 3px;
    margin: 5px;

    color: white;
    background-color: #011341;
    border-color: black;
    font-weight: 700;
    font-size: large;
    letter-spacing: 2px;
    box-shadow: 10px 10px 5px 0px #000000a6;
}

.questionbtn:hover {
    background-color: #1c3881;
    color: #F59008;
    cursor: pointer;
    box-shadow: 10px 10px 5px 0px #00000000;

}
 